*~
*.o
*.DS_Store
bin/
lib/
build/
.vs/
.vscode/
.github/
paper/paper\.synctex\.gz
paper/paper\.pdf
paper/paper\.log
*.out
*.gz
paper/paper\.aux
paper/paper\.bbl
paper/paper\.blg
paper/paper\.spl
paper/paper\.toc
*__pycache__*
build
/deepvenv/
ekin.csv
fp.csv
test_profiles.ipynb
*.csv
*.png
*.ipynb
*.sh